---
Checks: >
  *,
  -llvmlibc-*,
  -altera-*,
  -fuchsia-*,
  -android-*,
  -darwin-*,
  -zircon-*,
  -abseil-*,
  -boost-*,
  -google-*,
  -hicpp-*,
  -modernize-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -misc-unused-parameters,
  -readability-non-const-parameter

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.StatementThreshold
    value: '150'
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
